<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Crear nuevo Usuario</h1>
    <form th:action="@{/usuarios/save}" th:object="${usuario}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Escriba el nombre del usuario" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" th:field="*{apellido}" id="apellido" placeholder="Escriba el apellido del usuario" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" th:field="*{email}" id="email" placeholder="Escriba el email del usuario" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="pass">Contraseña</label>
                    <input type="password" class="form-control" th:field="*{pass}" id="pass" placeholder="Escriba la contraseña del usuario" required>
                </div>
            </div>

            <!-- <div class="col-md-6">
                 <div class="form-group">
                     <label for="rol">Rol</label>
                     <input type="text" class="form-control" th:field="*{rol}" id="rol" placeholder="Escriba el rol del usuario" required>
                 </div>
             </div>-->

            <div class="col-md-6">
                <div class="form-group">
                    <label for="rol">Rol</label>
                    <select id="rol" class="form-control" th:field="*{rol}">
                        <option th:each="rol : ${roles}" th:value="${rol.id}" th:text="${rol.nombre}"></option>
                    </select>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="latitud">Latitud</label>
                    <input type="number" step="0.000001" class="form-control" th:field="*{latitud}" id="latitud" placeholder="Escriba la latitud del usuario">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="longitud">Longitud</label>
                    <input type="number" step="0.000001" class="form-control" th:field="*{longitud}" id="longitud" placeholder="Escriba la longitud del usuario">
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <label for="empresas">Empresa</label>
                    <select id="empresas" class="form-control" th:field="*{empresa}">
                        <option th:each="empresa : ${empresas}" th:value="${empresa.id}" th:text="${empresa.nombre}"></option>
                    </select>
                </div>
            </div>

            <!--<div class="col-md-6">
                <div class="form-group">
                    <label for="longitud">Longitud</label>
                    <input type="number" step="0.000001" class="form-control" th:field="*{longitud}" id="longitud" placeholder="Escriba la longitud del usuario">
                </div> -->

        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Guardar</button> |
        <a th:href="@{/usuarios}">Regresar</a>
    </form>
</div>
</html>