<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Eliminar Usuario</h1>
    <h3>¿Está seguro que desea eliminar este usuario?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">ID</dt>
            <dd class="col-sm-10" th:text="${usuario.id}"></dd>

            <dt class="col-sm-2">Nombre</dt>
            <dd class="col-sm-10" th:text="${usuario.nombre}"></dd>

            <dt class="col-sm-2">Apellido</dt>
            <dd class="col-sm-10" th:text="${usuario.apellido}"></dd>

            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10" th:text="${usuario.email}"></dd>

            <dt class="col-sm-2">Rol</dt>
            <dd class="col-sm-10" th:text="${usuario.rol}"></dd>

            <dt class="col-sm-2">Latitud</dt>
            <dd class="col-sm-10" th:text="${usuario.latitud}"></dd>

            <dt class="col-sm-2">Longitud</dt>
            <dd class="col-sm-10" th:text="${usuario.longitud}"></dd>
        </dl>

        <form th:action="@{/usuarios/delete}" method="post">
            <input type="hidden" name="id" th:value="${usuario.id}">
            <input type="submit" value="Eliminar" class="btn btn-danger"> |
            <a th:href="@{/usuario}">Regresar</a>
        </form>
    </div>
</div>
</html>
