<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Editar Usuario</h1>
    <form th:action="@{/usuarios/save}" th:object="${usuario}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Escriba el nombre del usuario" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" th:field="*{apellido}" id="apellido" placeholder="Escriba el apellido del usuario" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" th:field="*{email}" id="email" placeholder="Escriba el email del usuario" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="rol">Rol</label>
                    <select id="rol" class="form-control" th:field="*{rol}">
                        <option th:each="rol : ${roles}" th:value="${rol.id}" th:text="${rol.nombre}"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="latitud">Latitud</label>
                    <input type="number" step="any" class="form-control" th:field="*{latitud}" id="latitud" placeholder="Escriba la latitud del usuario" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="longitud">Longitud</label>
                    <input type="number" step="any" class="form-control" th:field="*{longitud}" id="longitud" placeholder="Escriba la longitud del usuario" required>
                </div>
            </div>
        </div>

        <!-- <label for="empresas">Empresa</label>
                    <select id="empresas" class="form-control" th:field="*{empresa}">
                        <option th:each="empresa : ${empresas}" th:value="${empresa.id}" th:text="${empresa.nombre}"></option>
                    </select>-->

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="empresas">Empresa</label>
                    <select id="empresas" class="form-control" th:field="*{empresa}">
                        <option th:each="empresa : ${empresas}" th:value="${empresa.id}" th:text="${empresa.nombre}"></option>
                    </select>
                </div>
            </div>
        </div>

        <hr>
        <button type="submit" class="btn btn-primary">Guardar cambios</button> |
        <a th:href="@{/usuarios}">Regresar</a>
    </form>
</div>
</html>