<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.2/font/bootstrap-icons.min.css">

<div layout:fragment="content">
    <!-- Mostrar mensaje de confirmación en caso de éxito -->
    <div th:if="${msg != null}">
        <script>
            Swal.fire({
              title: "Confirmación",
              text: '[[${msg}]]',
              icon: "success"
            });
        </script>
    </div>

    <!-- Mostrar mensaje de error en caso de error -->
    <div th:if="${error != null}">
        <script>
            Swal.fire({
              title: "Error",
              text: '[[${error}]]',
              icon: "error"
            });
        </script>
    </div>

    <h1 class="my-4">Listado de Usuarios</h1>
    <a th:href="@{/usuarios/create}" class="btn btn-success mb-3"><i class="fa-solid fa-plus"></i> Nuevo Usuario</a>
    <table class="table table-hover table-bordered">
        <thead class="table-primary">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Empresa</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${usuarios.content}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.nombre}"></td>
            <td th:text="${item.apellido}"></td>
            <td th:text="${item.email}"></td>
            <td>
                <span th:each="rol : ${item.rol}" th:text="${rol.nombre}"></span>
            </td>
            <td th:text="${item.empresa != null ? item.empresa.nombre : 'N/A'}"></td>
            <td>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" th:data-bs-target="'#detailsUserModal' + ${item.id}">
                    <i class="fa-solid fa-eye"></i> Detalles
                </button>
                <a th:href="@{/usuarios/edit/{id}(id=${item.id})}" class="btn btn-primary btn-sm"><i class="fa-solid fa-pencil"></i> Editar</a>
                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" th:data-bs-target="'#removeUserModal' + ${item.id}">
                    <i class="fa-solid fa-trash"></i> Eliminar
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Modal para Detalles Rol -->
    <th:block th:each="item : ${usuarios}">
        <div class="modal fade" th:id="'detailsUserModal' + ${item.id}" tabindex="-1" aria-labelledby="detailsUserModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-secondary text-white">
                        <h5 class="modal-title" id="detailsUserModalLabel">Detalles del Usuario</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <dl class="row">
                                <!-- Información General -->
                                <dt class="col-sm-4 fw-bold">ID</dt>
                                <dd class="col-sm-8" th:text="${item.id}"></dd>

                                <dt class="col-sm-4 fw-bold">Nombre</dt>
                                <dd class="col-sm-8" th:text="${item.nombre}"></dd>

                                <dt class="col-sm-4 fw-bold">Apellido</dt>
                                <dd class="col-sm-8" th:text="${item.apellido}"></dd>

                                <dt class="col-sm-4 fw-bold">Email</dt>
                                <dd class="col-sm-8" th:text="${item.email}"></dd>

                                <!-- Roles -->
                                <dt class="col-sm-4 fw-bold">Rol</dt>
                                <dd class="col-sm-8">
                                    <ul class="list-unstyled">
                                        <th:block th:each="rol : ${item.rol}">
                                            <li th:text="${rol.nombre}"></li>
                                        </th:block>
                                    </ul>
                                </dd>

                                <!-- Empresa -->
                                <dt class="col-sm-4 fw-bold">Empresa</dt>
                                <dd class="col-sm-8" th:text="${item.empresa.nombre}"></dd>

                                <!-- Ubicación -->
                                <dt class="col-sm-4 fw-bold">Latitud</dt>
                                <dd class="col-sm-8" th:text="${item.latitud}"></dd>

                                <dt class="col-sm-4 fw-bold">Longitud</dt>
                                <dd class="col-sm-8" th:text="${item.longitud}"></dd>

                                <!-- Fechas -->
                                <dt class="col-sm-4 fw-bold">Fecha de Creación</dt>
                                <dd class="col-sm-8" th:text="${item.fechaCreacion}"></dd>

                                <dt class="col-sm-4 fw-bold">Fecha de Modificación</dt>
                                <dd class="col-sm-8" th:text="${item.fechaModificacion}"></dd>

                                <!-- Usuarios -->
                                <dt class="col-sm-4 fw-bold">Creado Por</dt>
                                <dd class="col-sm-8" th:text="${item.creadoPor.nombre}"></dd>

                                <dt class="col-sm-4 fw-bold">Modificado Por</dt>
                                <dd class="col-sm-8" th:text="${item.modificadoPor.nombre}"></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <!-- Modal para Eliminar Roles -->
    <th:block th:each="item : ${usuarios}">
        <div class="modal fade" th:id="'removeUserModal' + ${item.id}" tabindex="-1" aria-labelledby="removeUserModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-danger text-white">
                        <h5 class="modal-title" id="removeUserModalLabel">Eliminar Usuario</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>¿Estás seguro de que deseas eliminar el usuario?</p>
                        <dl class="row">
                        <dt class="col-sm-2">ID</dt>
                        <dd class="col-sm-10" th:text="${item.id}"></dd>

                        <dt class="col-sm-2">Nombre</dt>
                        <dd class="col-sm-10" th:text="${item.nombre}"></dd>

                        <dt class="col-sm-2">Apellido</dt>
                        <dd class="col-sm-10" th:text="${item.apellido}"></dd>

                        <dt class="col-sm-2">Email</dt>
                        <dd class="col-sm-10" th:text="${item.email}"></dd>

                        <dt class="col-sm-2">Rol</dt>
                        <dd class="col-sm-10" th:each="rol : ${item.rol}" th:text="${rol.nombre}"></dd>

                        <dt class="col-sm-4 fw-bold">Empresa</dt>
                        <dd class="col-sm-8" th:text="${item.empresa.nombre}"></dd>
                        </dl>
                    </div>
                    <div class="modal-footer">
                        <form th:action="@{/usuarios/delete}" method="post">
                            <input type="hidden" name="id" th:value="${item.id}">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>


    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                <a class="page-link" th:href="@{|/usuarios?page=${pageNumber}|}" th:text="${pageNumber}"></a>
            </li>
        </ul>
    </nav>
</div>

</html>
