<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.2/font/bootstrap-icons.min.css">

<div layout:fragment="content">
    <!-- Mostrar mensaje de confirmación en caso de éxito -->
    <div th:if="${msg != null}">
        <script>
            Swal.fire({
              title: "Confirmación",
              text: '[[${msg}]]',
              icon: "success"
            });
        </script>
    </div>

    <!-- Mostrar mensaje de error en caso de error -->
    <div th:if="${error != null}">
        <script>
            Swal.fire({
              title: "Error",
              text: '[[${error}]]',
              icon: "error"
            });
        </script>
    </div>

    <h1 class="my-4">Listado de Usuarios</h1>
    <a th:href="@{/usuarios/create}" class="btn btn-success mb-3"><i class="fa-solid fa-plus"></i> Nuevo Usuario</a>
    <table class="table table-hover table-bordered">
        <thead class="table-primary">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Empresa</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${usuarios.content}">
            <td th:text="${item.nombre}"></td>
            <td th:text="${item.apellido}"></td>
            <td th:text="${item.email}"></td>
            <td>
                <span th:each="rol : ${item.rol}" th:text="${rol.nombre}"></span>
            </td>
            <td th:text="${item.empresa != null ? item.empresa.nombre : 'N/A'}"></td>
            <td>
                <a th:href="@{/usuarios/details/{id}(id=${item.id})}" class="btn btn-secondary btn-sm"><i class="fa-solid fa-eye"></i> Detalles</a>
                <a th:href="@{/usuarios/edit/{id}(id=${item.id})}" class="btn btn-primary btn-sm"><i class="fa-solid fa-pencil"></i> Editar</a>
                <a th:href="@{/usuarios/remove/{id}(id=${item.id})}" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i> Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                <a class="page-link" th:href="@{|/usuarios?page=${pageNumber}|}" th:text="${pageNumber}"></a>
            </li>
        </ul>
    </nav>
</div>

</html>
