<!--<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Eliminar Departamento</h1>
    <div>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2" >ID</dt>
            <dd class = "col-sm-10" th:text="${departamentos.id}"></dd>

            <dt class = "col-sm-2">Nombre</dt>
            <dd class = "col-sm-10" th:text="${departamentos.nombre}"></dd>

        </dl>

        <form th:action="@{/departamentos/delete}" method="post">
            <input type="hidden" name="id" th:value="${departamentos.id}">
            <input type="submit" value="Eliminar" class="btn btn-danger"> |
            <a th:href="@{/departamentos}">Regresar</a>
        </form>

    </div>
</div>