<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <!-- Mostrar mensaje de confirmación en caso de éxito -->
    <div th:if="${msg != null}">
        <script>
            Swal.fire({
                title: "Confirmación",
                text: '[[${msg}]]',
                icon: "success"
            });
        </script>
    </div>

    <!-- Mostrar mensaje de error en caso de error -->
    <div th:if="${error != null}">
        <script>
            Swal.fire({
                title: "Error",
                text: '[[${error}]]',
                icon: "error"
            });
        </script>
    </div>

    <h1>Listado de Roles</h1>
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#createRoleModal">
        Nuevo Rol
    </button>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${roles}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.nombre}"></td>
            <td>
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" th:data-bs-target="'#detailsRoleModal' + ${item.id}">Detalles</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="'#editRoleModal' + ${item.id}">Editar</button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:data-bs-target="'#removeRoleModal' + ${item.id}">Eliminar</button>
            </td>

        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                <a class="page-link" th:href="@{|/roles?page=${pageNumber}|}" th:text="${pageNumber}"></a>
            </li>
        </ul>
    </nav>

    <!-- Modal para Crear Rol -->
    <div class="modal fade" id="createRoleModal" tabindex="-1" aria-labelledby="createRoleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createRoleModalLabel">Nuevo Rol</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/roles/save}" method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="roleName" class="form-label">Nombre del Rol</label>
                            <input type="text" class="form-control" id="roleName" name="nombre" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal para Editar Roles -->
    <th:block th:each="item : ${roles}">
        <div class="modal fade" th:id="'editRoleModal' + ${item.id}" tabindex="-1" aria-labelledby="editRoleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editRoleModalLabel">Editar Rol</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/roles/save}" method="post">
                            <!-- Envia el ID del rol a actualizar -->
                            <input type="hidden" name="id" th:value="${item.id}">

                            <div class="mb-3">
                                <label for="editRoleName" class="form-label">Nombre del Rol</label>
                                <input type="text" class="form-control" id="editRoleName" name="nombre" th:value="${item.nombre}" required>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </th:block>


    <!-- Modal para Detalles Rol -->
    <th:block th:each="item : ${roles}">
        <div class="modal fade" th:id="'detailsRoleModal' + ${item.id}" tabindex="-1" aria-labelledby="detailsRoleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="detailsRoleModalLabel">Detalles del Rol</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>

                            <dl class="row">
                                <dt class="col-sm-2">ID</dt>
                                <dd class="col-sm-10" th:text="${item.id}"></dd>

                                <dt class="col-sm-2">Nombre</dt>
                                <dd class="col-sm-10" th:text="${item.nombre}"></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

    <!-- Modal para Eliminar Roles -->
    <th:block th:each="item : ${roles}">
        <div class="modal fade" th:id="'removeRoleModal' + ${item.id}" tabindex="-1" aria-labelledby="removeRoleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="removeRoleModalLabel">Eliminar Rol</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro de que desea eliminar este rol?</p>
                        <div>
                            <dl class="row">
                                <dt class="col-sm-2">ID</dt>
                                <dd class="col-sm-10" th:text="${item.id}"></dd>

                                <dt class="col-sm-2">Nombre</dt>
                                <dd class="col-sm-10" th:text="${item.nombre}"></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <form th:action="@{/roles/delete}" method="post">
                            <input type="hidden" name="id" th:value="${item.id}">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

</div>
</html>
