<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Eliminar grupo</h1>
    <h3>¿Está seguro que desea eliminar este registro?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2" >ID</dt>
            <dd class = "col-sm-10" th:text="${trabajador.id}"></dd>

            <dt class = "col-sm-2">latitud</dt>
            <dd class = "col-sm-10" th:text="${trabajador.latitud}"></dd>

            <dt class = "col-sm-2">longitud</dt>
            <dd class = "col-sm-10" th:text="${trabajador.longitud}"></dd>
        </dl>

        <form th:action="@{/trabajadores/delete}" method="post">
            <input type="hidden" name="Id" th:value="${trabajador.id}">
            <input type="submit" value="Eliminar" class="btn btn-danger"> |
            <a th:href="@{/trabajadores}">Regresar</a>
        </form>

    </div>
</div>>